[Unit]
Description=Deploynator service

[Service]
Type=notify
ExecStart=/srv/Deploynator/Deploynator
SyslogIdentifier=Deploynator
WorkingDirectory=/srv/Deploynator

User=root

Environment=DOTNET_ROOT=/opt/dotnet
Environment="ASPNETCORE_URLS=http://0.0.0.0:80/;https://0.0.0.0:443/"

[Install]
WantedBy=multi-user.target