@page "/"

<button @onclick="() => RasperrySound()">play device ready</button>

@inject AudioStream _audioStream
@inject EventBus _eventBus

@code {

    private bool _triggered;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _eventBus.ReleaseButtonTriggered += (_, _) => ReleaseButtonTriggered();
        _eventBus.ReleaseButtonTriggered += (_, _) => ReleaseButtonReleased();
    }

    private void ReleaseButtonTriggered()
    {
        _triggered = true;
    }

    private void ReleaseButtonReleased()
    {
        _triggered = false;
    }

    private async Task RasperrySound()
    {
        await _audioStream.Play("Device ready, awaiting deployment sequence");
    }
}
