@page "/"
@using NetCoreAudio

<button @onclick="() => RasperrySound()">play device ready</button>

@code {
    private void RasperrySound()
    {
        var pathToMp3File = "./wwwroot/voice-commands/device-ready.mp3";
        var player = new Player();
        player.Play(pathToMp3File);
    }
}
